body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
.btn {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.d-day-child-container {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
